// I use this document to generate initial CSS. 

// variables
$white: #FFF;
$green: #0F9;
$black: #444;

* { box-sizing: border-box; margin-top: 0; }

body {
  font-family: 'Poppins', sans-serif;
  color: $black;
  font-size: 1.1rem;
}

// 
h1 {
    font-size: 5rem;
    color: $green;
    text-transform: uppercase;
    letter-spacing: 15px;
    outline: 3px solid $white;
    outline-offset: .25em;
    display: inline-block;
    margin: 0.25em 0 0.5em;
    span {
      font-weight: 300;
    }
  }

  h2 {
    font-size: 1.6rem;
    margin-bottom: 0.5em;
  }
  
  p {
    span {
      color: $green;
    }
  }

  .btn {
    display: inline-block;
    padding: .7em 1.7em;
    background: $green;
    color: $black;
    font-weight: 600;
    text-decoration: none;
    &:hover {
      background: darken($green, 10%);
    }
  }

  /*
  1) #### Hero
  */
  .hero {
    background-color: #444;
    // background-image: url(//unsplash.it/1000/600);
    background-image: url('../img/600.jpg');
    background-blend-mode: multiply;
    background-size: cover;
    height: 100vh;
    padding: 1em;
    color: $white;
    /* Your Flex-code goes here: */
    //  display: flex;
    //  flex-direction: column;
    //  align-items: center;
    //  justify-content: center;
  }


/*
2) ##### Sales Points 
*/
  .sales-points {
    padding: 12vh 0;
    text-align: center;
    /* Your Flex-code goes here: */
    // display: flex;
    // justify-content: space-around;
    // flex-direction: column;
  }
  .sales-point {
    // flex-basis: 30%;
    background-color:red;
  }

  // kleiner scherm: op elkaar.
  @media (min-width: 40rem) {
    .sales-points {
      background-color: yellow;
      /* Your Flex-code goes here: */
      // flex-direction: row;
    }
  }
  

/*
3) ##### Call to Action
*/
.cta {
  // background-image: url(//unsplash.it/600/400);
  background-image: url('../img/600.jpg');
  background-size: cover;
  padding: 10vh 0;
  color: $white;
  /* Your Flex-code goes here: */
  // display: flex;
  // justify-content: flex-end;
}

.cta-text {
  padding: 0 2em;
  /* Your Flex-code goes here: */
  // flex-basis: 100%;
  @media (min-width: 40rem) {
  /* Your Flex-code goes here: */
    // flex-basis: 50%;
    background-color: green;
  }
}