* {
  box-sizing: border-box;
  margin-top: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  color: #444;
  font-size: 1.1rem;
}

h1 {
  font-size: 5rem;
  color: #0F9;
  text-transform: uppercase;
  letter-spacing: 15px;
  outline: 3px solid #FFF;
  outline-offset: .25em;
  display: inline-block;
  margin: 0.25em 0 0.5em;
}

h1 span {
  font-weight: 300;
}

h2 {
  font-size: 1.6rem;
  margin-bottom: 0.5em;
}

p span {
  color: #0F9;
}

.btn {
  display: inline-block;
  padding: .7em 1.7em;
  background: #0F9;
  color: #444;
  font-weight: 600;
  text-decoration: none;
}

.btn:hover {
  background: #00cc7a;
}

/*
  1) #### Hero
  */
.hero {
  background-color: #444;
  background-image: url("../img/600.jpg");
  background-blend-mode: multiply;
  background-size: cover;
  height: 100vh;
  padding: 1em;
  color: #FFF;
  /* Your Flex-code goes here: */
}

/*
2) ##### Sales Points 
*/
.sales-points {
  padding: 12vh 0;
  text-align: center;
  /* Your Flex-code goes here: */
}

.sales-point {
  background-color: red;
}

@media (min-width: 40rem) {
  .sales-points {
    background-color: yellow;
    /* Your Flex-code goes here: */
  }
}

/*
3) ##### Call to Action
*/
.cta {
  background-image: url("../img/600.jpg");
  background-size: cover;
  padding: 10vh 0;
  color: #FFF;
  /* Your Flex-code goes here: */
}

.cta-text {
  padding: 0 2em;
  /* Your Flex-code goes here: */
}

@media (min-width: 40rem) {
  .cta-text {
    /* Your Flex-code goes here: */
    background-color: green;
  }
}
